attrs==25.3.0
cffi==1.17.1
crit==4.1
cryptography==45.0.5
dbus-python==1.4.0
filelock==3.18.0
gps==3.26.1
nftables==0.1
packaging==25.0
protobuf==6.31.1
pycparser==2.22
pycriu==4.1
pyxdg==0.28
wheel==0.45.1
